.container {
  background-color: #d9d9d990;
  position: fixed;
  top: 0;
}

.btn-container {
  position: fixed;
  top: 0;
  right: 0;
}

.container a {
  color: #f9fafb;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 600;
  display: block;
  margin: 20px;
}
.lineBreak {
  padding-bottom: 3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.solidBorderB {
  border-bottom: solid 1px #ffffff;
}
